.gen-padding-top-0 {
  padding-top: 0px;
}
.gen-padding-top-1 {
  padding-top: 5px;
}
.gen-padding-top-2 {
  padding-top: 10px;
}
.gen-padding-top-3 {
  padding-top: 15px;
}
.gen-padding-top-4 {
  padding-top: 20px;
}
.gen-padding-top-5 {
  padding-top: 25px;
}
.gen-padding-left-0 {
  padding-left: 0px;
}
.gen-padding-left-1 {
  padding-left: 5px;
}
.gen-padding-left-2 {
  padding-left: 10px;
}
.gen-padding-left-3 {
  padding-left: 15px;
}
.gen-padding-left-4 {
  padding-left: 20px;
}
.gen-padding-left-5 {
  padding-left: 25px;
}
.gen-padding-bottom-0 {
  padding-bottom: 0px;
}
.gen-padding-bottom-1 {
  padding-bottom: 5px;
}
.gen-padding-bottom-2 {
  padding-bottom: 10px;
}
.gen-padding-bottom-3 {
  padding-bottom: 15px;
}
.gen-padding-bottom-4 {
  padding-bottom: 20px;
}
.gen-padding-bottom-5 {
  padding-bottom: 25px;
}
.gen-padding-right-0 {
  padding-right: 0px;
}
.gen-padding-right-1 {
  padding-right: 5px;
}
.gen-padding-right-2 {
  padding-right: 10px;
}
.gen-padding-right-3 {
  padding-right: 15px;
}
.gen-padding-right-4 {
  padding-right: 20px;
}
.gen-padding-right-5 {
  padding-right: 25px;
}
.gen-padding-0 {
  padding: 0px;
}
.gen-padding-1 {
  padding: 5px;
}
.gen-padding-2 {
  padding: 10px;
}
.gen-padding-3 {
  padding: 15px;
}
.gen-padding-4 {
  padding: 20px;
}
.gen-padding-5 {
  padding: 25px;
}
.gen-margin-top-0 {
  margin-top: 0px;
}
.gen-margin-top-1 {
  margin-top: 5px;
}
.gen-margin-top-2 {
  margin-top: 10px;
}
.gen-margin-top-3 {
  margin-top: 15px;
}
.gen-margin-top-4 {
  margin-top: 20px;
}
.gen-margin-top-5 {
  margin-top: 25px;
}
.gen-margin-left-0 {
  margin-left: 0px;
}
.gen-margin-left-1 {
  margin-left: 5px;
}
.gen-margin-left-2 {
  margin-left: 10px;
}
.gen-margin-left-3 {
  margin-left: 15px;
}
.gen-margin-left-4 {
  margin-left: 20px;
}
.gen-margin-left-5 {
  margin-left: 25px;
}
.gen-margin-bottom-0 {
  margin-bottom: 0px;
}
.gen-margin-bottom-1 {
  margin-bottom: 5px;
}
.gen-margin-bottom-2 {
  margin-bottom: 10px;
}
.gen-margin-bottom-3 {
  margin-bottom: 15px;
}
.gen-margin-bottom-4 {
  margin-bottom: 20px;
}
.gen-margin-bottom-5 {
  margin-bottom: 25px;
}
.gen-margin-right-0 {
  margin-right: 0px;
}
.gen-margin-right-1 {
  margin-right: 5px;
}
.gen-margin-right-2 {
  margin-right: 10px;
}
.gen-margin-right-3 {
  margin-right: 15px;
}
.gen-margin-right-4 {
  margin-right: 20px;
}
.gen-margin-right-5 {
  margin-right: 25px;
}
.gen-margin-0 {
  margin: 0px;
}
.gen-margin-1 {
  margin: 5px;
}
.gen-margin-2 {
  margin: 10px;
}
.gen-margin-3 {
  margin: 15px;
}
.gen-margin-4 {
  margin: 20px;
}
.gen-margin-5 {
  margin: 25px;
}
.gen-bold{
  font-weight: bold;
}


.gen-ico-gris{
  color:#a9a9a9;
}
.gen-ico-rojo{
  color:#d74e4e;
}
.gen-ico-azul{
  color:#1f1f95;
}
.gen-ico-verde{
  color:#008000;
}
.gen-ico-verdeazul{
  color:#5f9ea0;
}

.gen-contenedor-btn {
    margin-top: 23px;
}
