#titulo-tableros{
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid gray;
}

#titulo-tableros h2{
  text-shadow: 1px 1px #e2e2e2;
  font-weight: bold;
  font-size: 3em;
  color: #9c9cff;
}

.tablero{
  background-color: #f5f5f5;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 11px 10px -6px #d0d0d0;
  padding: 45px 20px;
  border-bottom: 15px solid #9c9cff;
  font-size: 1.3em;
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tablero:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  text-decoration:none;
}

.link-tablero:hover,
.link-tablero:hover .tablero{
  texto-decoration:none;
}

.tablero .mas{
  position: absolute;
  bottom: 2px;
  right: 7px;
  font-size: 1.5em;
}

.tablero-descripcion{
  background-color: #f5f5f5;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 11px 10px -6px #d0d0d0;
  padding: 20px 20px 50px 20px;
  position:relative;
}

.tablero-descripcion .boton{
  position: absolute;
  bottom: 8px;
  right: 15px;
}
