.lista{
  margin-bottom:35px;
  background-color: #c5e2c3;
  border-radius: 5px;
  position:relative;
  min-height: 200px;
  box-shadow: 5px 6px 10px -3px #a5a5a5;
  position: relative;
}

.lista .titulo-lista{
  background-color: green;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  top:0px;
  bottom:0px;
  overflow: hidden;
  width:120px;
  display:inline-block;
  vertical-align: middle;
  z-index:5;
}

.lista .contenedor-boton-lista{
  position:absolute;
  right: -50px;
  bottom:0px;

}

.lista .contenedor-boton-lista button{
  border-radius: 50px;
  box-shadow: 2px 2px 10px -3px #000;
}

#nuevo-texto{
  resize:none;
}

.contenedor-tarjetas{
  display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 10px 130px;
    overflow: auto;
    width: calc(100%);
    height: 200px;
}

.ventana{
  white-space: nowrap;
}

.tarjeta{
  border-radius: 5px;
  width: 50px;
  display: inline-block;
  padding: 10px;
  background-color: #f3f3f3;
  width: 350px;
  margin-bottom: 10px;
  vertical-align: top;
  margin-right: 10px;
  min-height: 130px;
  position:relative;
  white-space: normal;
}

.lista .titulo-lista span{
  webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  text-align: center;
  width: 108px;
  transform-origin: 90px 58px;
  -webkit-transform-origin: 90px 58px;
  color:#fff;
  font-weight: bold;

}
